// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.nav-item {
    .nav-link {
        font-variant-caps: all-small-caps;
        font-size: 20px;
    }
}

.myContainer {
    max-width: 600px;
    margin: 10rem auto;
}

.listContainer {
    max-width: 900px;
    margin: 10rem auto;
}

.carousel {
    z-index: 0;
    position: relative;
    top: -560px;
}

.carousel-item img {
    width: 100%;
    height: 70rem;
}


.card-img-top img {
    width: 100%;
    height: 20rem;
}

#pizza {
    margin: -590px auto 0 auto;
    z-index: 400 !important;
}

@media screen and (max-width: 991px) {
    #pizza {
        margin: 2rem auto 0 auto;
        z-index: 400 !important;
    }
}