// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.card-header {
    background: #fff;
    text-align: center;
    border: none;
}

.nav-item {
    .nav-link {
        font-variant: small-caps;
        font-size: 19px;
    }
}

.form-control {
    background: #fff;
}

.myContainer {
    max-width: 650px;
    margin: auto !important;
}

.listContainer {
    max-width: 900px;
    margin: 10rem auto;
}

.carousel {
    z-index: 0 !important;
    top: -650px;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 70rem;
}


.card-img-top img {
    width: 100%;
    height: 20rem;
}

#products {
    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        padding-bottom: 20px;
    }
}


#pizza {
    margin: -650px auto 0 auto;
    // z-index: 400 !important;
    background: #fff;

    .card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 991px) {
    #pizza {
        margin: 2rem auto 0 auto;
        z-index: 400 !important;
    }
}